name: Docker Image CI/CD

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: samerberjawi/crystal 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Log in to the Container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Extract Version
        id: meta
        run: |
          # Use the tag name if available, otherwise default to 'latest'
          VERSION=${GITHUB_REF_NAME}
          if [[ $GITHUB_REF != refs/tags/* ]]; then
            VERSION="latest"
          fi
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          
      # --- Build and Push Backend Image ---
      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./server
          # PUSH only on tags (v1.0.x). BUILD only on PRs.
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:backend-${{ steps.meta.outputs.VERSION }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:backend-latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # --- Build and Push Frontend Image ---
      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: . 
          file: Dockerfile
          # PUSH only on tags (v1.0.x). BUILD only on PRs.
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:frontend-${{ steps.meta.outputs.VERSION }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:frontend-latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
