name: Docker Image CI/CD

on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: samerberjawi/crystal 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Extract Metadata
        id: meta
        run: |
          if [[ $GITHUB_EVENT_NAME == 'pull_request' ]]; then
            # Tag for PRs: e.g., pr-192
            VERSION="pr-${{ github.event.pull_request.number }}"
          else
            # Tag for actual releases: e.g., v1.0.6
            VERSION=${GITHUB_REF_NAME}
          fi
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          
      - name: Build and Push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./server
          push: true  # Now we push PR images too so you can test on NAS
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:backend-${{ steps.meta.outputs.VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and Push Frontend
        uses: docker/build-push-action@v6
        with:
          context: . 
          file: Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:frontend-${{ steps.meta.outputs.VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
